<body class="TOP">
<h1>ようこそ　Bookersへ！</h1>

<div class="AA">
<div><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</div>


　　<div>印象を共有し交換することができます</div>

</div>
<span>
  <%= link_to "start",books_path%>
</span>
</body>